<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner bg_img" data-background="/assets/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">
                About us
            </h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/">
                        Home Page
                    </a>
                </li>
                <li>
                    About us
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Speaker-Single========== -->
<section class="about-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">
                        <span class="cate">
                            We are Boleto
                        </span>
                        <h2 class="title">Get to know us</h2>
                        <p>
                            With the mission of bringing modern cultural values and quality, Boleto always listens and researches to understand and satisfy customers' needs, is creative in each product, and dedicated to providing quality service top service.

                        </p>
                        <p>
                            Boleto Media was established with the goal of providing customers with the best quality products and services, at the most reasonable prices; with two main business segments, which are the complex of food and entertainment services and the provision of communication services. We aim to bring the best cultural and entertainment experiences to Vietnamese people, especially young people.
                        </p>
                        <a href="/movies" class="custom-button">Book tickets</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="about-thumb">
                    <img src="/assets/images/about/about01.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->
<!-- ==========Philosophy-Section========== -->
<div class="philosophy-section padding-top padding-bottom bg-one bg_img bg_quater_img" data-background="/assets/images/about/about-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3 bg-two">
                <div class="philosophy-content">
                    <div class="section-header-3 left-style">
                        <span class="cate">
                            Look at
                        </span>
                        <h2 class="title">
                            Our philosophy
                        </h2>
                        <p class="ml-0">
                            Serving our customers wholeheartedly, providing the best quality service.
                        </p>
                    </div>
                    <ul class="phisophy-list">
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon1.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Honesty & Fairness
                            </h5>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon2.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Clear and transparent
                            </h5>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="/assets/images/philosophy/icon3.png" alt="philosophy">
                            </div>
                            <h5 class="title">
                                Focus on customers
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Philosophy-Section========== -->
<!-- ==========About-Counter-Section========== -->
<section class="about-counter-section padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header-3 left-style mb-lg-0">
                    <span class="cate">
                        Quick Infomation
                    </span>
                    <h2 class="title">
                        Fun facts
                    </h2>
                    <p>
                        Objectively capture scalable metrics while proactive services continuously empower well-researched growth strategies.
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="about-counter">
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter01.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="1"></h3>
                            <h3 class="title">M+</h3>
                        </div>
                        <span class="d-block info">
                            Customer
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter02.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="1"></h3>
                        </div>
                        <span class="d-block info">
                            Nation
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter03.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="10"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">
                            Towns and Cities
                        </span>
                    </div>
                    <div class="counter-item">
                        <div class="counter-thumb">
                            <img src="/assets/images/about/about-counter04.png" alt="about">
                        </div>
                        <div class="counter-content">
                            <h3 class="title odometer" data-odometer-final="50"></h3>
                            <h3 class="title">+</h3>
                        </div>
                        <span class="d-block info">Cinema Room</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About-Counter-Section========== -->