USE [TDA_WebDatVePhim]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 01/03/2023 20:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaGhe] [int] NOT NULL,
	[MaXuatChieu] [int] NOT NULL,
	[GiaVe] [int] NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[GiaTien] [int] NOT NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangDichVu]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangDichVu](
	[MaDonHangDichVu] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_DonHangDichVu_1] PRIMARY KEY CLUSTERED 
(
	[MaDonHangDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[MaGhe] [int] IDENTITY(2,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[TenGhe] [nvarchar](50) NULL,
	[LoaiGhe] [int] NOT NULL,
	[SoHang] [varchar](1) NOT NULL,
	[SoO] [int] NOT NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[CMND] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieu](
	[MaLichChieu] [int] IDENTITY(1,1) NOT NULL,
	[MaRap] [int] NOT NULL,
	[MaPhim] [int] NOT NULL,
	[NgayChieu] [date] NOT NULL,
 CONSTRAINT [PK_LichChieu] PRIMARY KEY CLUSTERED 
(
	[MaLichChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](500) NULL,
	[DanhSach] [nvarchar](500) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](500) NOT NULL,
	[GioiThieu] [nvarchar](1000) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[VideoGioiThieu] [nvarchar](1000) NULL,
	[ThoiLuong] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[NgayKhoiChieu] [date] NOT NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim_TheLoai]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim_TheLoai](
	[MaPhim] [int] NOT NULL,
	[MaTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_Phim_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC,
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaRap] [int] NOT NULL,
	[TenPhong] [nvarchar](150) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rap]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rap](
	[MaRap] [int] IDENTITY(1,1) NOT NULL,
	[TenRap] [nvarchar](250) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rap] PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaQuyen] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](150) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[GioiThieu] [nvarchar](500) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatChieu]    Script Date: 01/03/2023 20:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatChieu](
	[MaXuatChieu] [int] IDENTITY(1,1) NOT NULL,
	[MaLichChieu] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[GioChieu] [int] NOT NULL,
	[PhutChieu] [int] NOT NULL,
	[LoaiChieuPhim] [int] NOT NULL,
 CONSTRAINT [PK_XuatChieu] PRIMARY KEY CLUSTERED 
(
	[MaXuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaGhe], [MaXuatChieu], [GiaVe]) VALUES (1, 1, 119, 4, 90000)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaGhe], [MaXuatChieu], [GiaVe]) VALUES (2, 1, 120, 4, 90000)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaGhe], [MaXuatChieu], [GiaVe]) VALUES (3, 2, 210, 7, 90000)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [NoiDung], [GiaTien], [HinhAnh], [NgayTao], [TrangThai]) VALUES (1, N'Combo L1 (1 nước 1 bỏng)', NULL, 70000, N'/Uploads/files/sg-11134201-22100-sivckz96hwiv78.jpg', CAST(N'2023-02-19T22:43:39.203' AS DateTime), 1)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [NoiDung], [GiaTien], [HinhAnh], [NgayTao], [TrangThai]) VALUES (2, N'Bỏng ngô', NULL, 40000, N'/Uploads/files/20171115-124959-popcorn.jpg', CAST(N'2023-03-01T01:35:22.593' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThai], [ThanhTien]) VALUES (1, 1, CAST(N'2023-02-28T22:45:27.993' AS DateTime), 2, 250000)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThai], [ThanhTien]) VALUES (2, 1, CAST(N'2023-03-01T01:46:37.090' AS DateTime), 2, 290000)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThai], [ThanhTien]) VALUES (3, 1, CAST(N'2023-03-01T02:09:20.253' AS DateTime), 1, 250000)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangDichVu] ON 

INSERT [dbo].[DonHangDichVu] ([MaDonHangDichVu], [MaDonHang], [MaDichVu], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, 70000)
INSERT [dbo].[DonHangDichVu] ([MaDonHangDichVu], [MaDonHang], [MaDichVu], [SoLuong], [DonGia]) VALUES (2, 2, 1, 1, 70000)
INSERT [dbo].[DonHangDichVu] ([MaDonHangDichVu], [MaDonHang], [MaDichVu], [SoLuong], [DonGia]) VALUES (3, 2, 2, 1, 40000)
SET IDENTITY_INSERT [dbo].[DonHangDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [TenGhe], [LoaiGhe], [SoHang], [SoO]) VALUES (1, 5, N'G1', 1, N'G', 1)
INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [TenGhe], [LoaiGhe], [SoHang], [SoO]) VALUES (2, 5, N'G2', 1, N'G', 2)
INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [TenGhe], [LoaiGhe], [SoHang], [SoO]) VALUES (3, 5, N'G3', 1, N'G', 3)
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [TenDangNhap], [MatKhau], [SoDienThoai], [Email], [CMND]) VALUES (1, N'Văn Minh Nguyễn', N'vanminh', N'1234567', N'0325858525', N'vanminh@gmail.com', N'12345678985')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichChieu] ON 

INSERT [dbo].[LichChieu] ([MaLichChieu], [MaRap], [MaPhim], [NgayChieu]) VALUES (1, 1, 1, CAST(N'2023-02-28' AS Date))
INSERT [dbo].[LichChieu] ([MaLichChieu], [MaRap], [MaPhim], [NgayChieu]) VALUES (2, 1, 1, CAST(N'2023-03-01' AS Date))
INSERT [dbo].[LichChieu] ([MaLichChieu], [MaRap], [MaPhim], [NgayChieu]) VALUES (3, 2, 2, CAST(N'2023-03-02' AS Date))
SET IDENTITY_INSERT [dbo].[LichChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [DanhSach]) VALUES (1, N'Admin', N',Quyền,Tài khoản,Khách hàng,Thể loại,Tin tức,Rạp,Phòng,Ghế,Phim,Dịch vụ,Lịch chiếu,Đặt vé,Báo cáo,Thống kê,')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
INSERT [dbo].[Phim_TheLoai] ([MaPhim], [MaTheLoai]) VALUES (1, 1)
INSERT [dbo].[Phim_TheLoai] ([MaPhim], [MaTheLoai]) VALUES (1, 2)
INSERT [dbo].[Phim_TheLoai] ([MaPhim], [MaTheLoai]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [MaRap], [TenPhong], [MoTa]) VALUES (4, 1, N'S01', NULL)
INSERT [dbo].[Phong] ([MaPhong], [MaRap], [TenPhong], [MoTa]) VALUES (5, 1, N'S02', NULL)
INSERT [dbo].[Phong] ([MaPhong], [MaRap], [TenPhong], [MoTa]) VALUES (6, 2, N'B01', NULL)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[Rap] ON 

INSERT [dbo].[Rap] ([MaRap], [TenRap], [HinhAnh], [DiaChi], [NoiDung]) VALUES (2, N'Mỹ Đình', N'/Uploads/files/15676168-708711372631104-1938445758628400757-o-104437-040718-50.jpg', N'Tầng hầm B1, tòa nhà Golden Palace, đường Mễ Trì, quận Nam Từ Liêm, Hà Nội', N'<p>
	<span style="color: rgb(51, 51, 51); font-family: SourceSansPro; font-size: 16px; text-align: justify; background-color: rgb(248, 248, 248);">Rạp c&oacute; vị tr&iacute; thuận lợi, rất gần những trường đại học, cao đẳng v&agrave; cấp 3 lớn tại H&agrave; Nội.</span></p>
')
SET IDENTITY_INSERT [dbo].[Rap] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [HoTen], [TenDangNhap], [MatKhau], [MaQuyen]) VALUES (1, N'Admin', N'admin', N'123456', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (1, N'Hành động', NULL)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (2, N'Phiêu lưu', NULL)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (3, N'Tình cảm', NULL)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET IDENTITY_INSERT [dbo].[XuatChieu] ON 

INSERT [dbo].[XuatChieu] ([MaXuatChieu], [MaLichChieu], [MaPhong], [GioChieu], [PhutChieu], [LoaiChieuPhim]) VALUES (2, 2, 4, 10, 15, 1)
INSERT [dbo].[XuatChieu] ([MaXuatChieu], [MaLichChieu], [MaPhong], [GioChieu], [PhutChieu], [LoaiChieuPhim]) VALUES (3, 2, 5, 9, 0, 1)
INSERT [dbo].[XuatChieu] ([MaXuatChieu], [MaLichChieu], [MaPhong], [GioChieu], [PhutChieu], [LoaiChieuPhim]) VALUES (4, 2, 4, 8, 0, 1)
SET IDENTITY_INSERT [dbo].[XuatChieu] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Ghe] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[Ghe] ([MaGhe])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Ghe]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_XuatChieu] FOREIGN KEY([MaXuatChieu])
REFERENCES [dbo].[XuatChieu] ([MaXuatChieu])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_XuatChieu]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHangDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDichVu_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[DonHangDichVu] CHECK CONSTRAINT [FK_DonHangDichVu_DichVu]
GO
ALTER TABLE [dbo].[DonHangDichVu]  WITH CHECK ADD  CONSTRAINT [FK_DonHangDichVu_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[DonHangDichVu] CHECK CONSTRAINT [FK_DonHangDichVu_DonHang]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Phong]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_Phim]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_Rap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Rap] ([MaRap])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_Rap]
GO
ALTER TABLE [dbo].[Phim_TheLoai]  WITH CHECK ADD  CONSTRAINT [FK_Phim_TheLoai_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[Phim_TheLoai] CHECK CONSTRAINT [FK_Phim_TheLoai_Phim]
GO
ALTER TABLE [dbo].[Phim_TheLoai]  WITH CHECK ADD  CONSTRAINT [FK_Phim_TheLoai_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Phim_TheLoai] CHECK CONSTRAINT [FK_Phim_TheLoai_TheLoai]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Rap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Rap] ([MaRap])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Rap]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
ALTER TABLE [dbo].[XuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_XuatChieu_LichChieu] FOREIGN KEY([MaLichChieu])
REFERENCES [dbo].[LichChieu] ([MaLichChieu])
GO
ALTER TABLE [dbo].[XuatChieu] CHECK CONSTRAINT [FK_XuatChieu_LichChieu]
GO
ALTER TABLE [dbo].[XuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_XuatChieu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[XuatChieu] CHECK CONSTRAINT [FK_XuatChieu_Phong]
GO
